a:hover {
  color: orange;
}

li a:hover {
  text-decoration: none;
  color: red;
}

p:first-child {
  display: none;
}

span::selection {
  background-color: grey;
}

p div:hover {
  display: block;
}
